@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f4f4f4;
}

#header,
footer {
  border-radius: 0;
  background-color: #122c12;
  /* Verde oscuro */
  color: #ccc;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  /* color: white; */
  /* font-size: 2.5em; */
  /* font-weight: 700; */
  margin: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #122c12;
  padding: 10px 0;
}

nav a {
  font-family: 'Roboto', sans-serif;
  font-variant: small-caps;
  color: #ccc;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  font-size: 1.2em;
  /* font-variant: small-caps; */
  letter-spacing: 1.5px;
}

nav a:hover {
  text-decoration: none;
  /* color: #101110; */
  /* border: 0.4px solid rgba(255, 255, 255, 0.424); */
  box-shadow: 10px, 4px, 2px #1d471d;
  /* border-radius: 50px; */
  color: #2c6b2c;
  /* padding: 0.7rem; */
  /* margin:2px; */
}


.hero {
  /* Ajusta la URL según tu imagen */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;

}

.hero h2 {
  font-size: 2.5em;
  margin: 0;
}

.hero p {
  font-size: 1.5em;
  margin: 10px 0 0;
}

section {
  padding: 40px 20px;
  text-align: center;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inicio {
  height: 8rem;
  background-color: #122c12;
  align-content: center;
  border-style: groove;
  border-radius: 5px;
  margin-bottom: 2rem;

}

#header {
  margin: 0;
  padding: 0;
  height: 12vw;

}

/* #header h1 {
      /* font-family: 'Archivo', sans-serif; */
/* font-variant: small-caps; 
      font-size: 3rem;
      
      } */

.titulo {
  font-weight: 900;
  padding-top: 3vw;
  padding-left: 2vw;
  font-family: 'Imprint Mt shadow', sans-serif;
  font-size: 3.8rem;
  text-shadow: 1px 10px 15px #000f00;
  letter-spacing: 1.5px;
  font-weight: 300;
}

.pilar {
  font-family: 'Gill Sans', sans-serif;
  color: black;
  font-weight: 900;
  text-shadow: none;
  font-size: 3.7rem;
}

.subt {
  text-shadow: 1px 2px 2px #000f00;
  /* padding-left: 5vw; */
  font-family: 'Roboto', sans-serif;
  color: rgb(2, 2, 2);
  font-weight: 800;
  font-size: 3.5rem;
  /* padding-bottom: 15rem; */
  /* margin-bottom: 5vw; */
}

h2 {
  color: #122c12;
  /* Verde oscuro */
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  font-variant: small-caps;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
  margin: 0 0 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

label {
  margin-top: 10px;
  font-weight: 700;
}

input,
select,
textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

button {
  margin-top: 20px;
  padding: 15px;
  background-color: #122c12;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
}

button:hover {
  background-color: #004d00;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.gallery img {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
}

footer p {
  margin: 10px 0 0;
  font-size: 0.9em;
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/*whatsapp*/
.whatsapp-icon img {
  width: 60px;
  height: 60px;
}

/* carousel */
.parallax-container {
  height: 40vw;
  position: relative;
  overflow: hidden;
}

.parallax-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 2s ease;
  opacity: 1;
}

.parallax-container img.hidden {

  opacity: 0;
}

#pres {

  padding: 0 5rem 0 5rem;
  font-family: 'Helvetica', sans-serif;
  font-size: 1.25rem;
  color: #ccc;
  line-height: 1.3;
  text-transform: normal;
  text-align: justify;
  font-weight: 100;
  /* font-variant: small-caps; */
}

#ubicacion {
  margin: 10px 20px 10px 20px;
  padding: 10px 20px 10px 20px;

}

a img {
  text-decoration: none;
  color: white;
}

.seccion-fija {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.text {
  font-family: 'Helvetica', sans-serif;
  text-align: justify;
  padding: 1rem 3rem 0 3rem;
}

.copy {
  align-content: flex-end;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 1vw;
}

.imgban {
  position: absolute;
  width: 400px;
  opacity: 1;
  top: 0;
  right: 0;
  /* color: inherit; */
  object-fit: cover;
  margin: 0;
  z-index: -1;
}

.banner {
  display: inline;
  /* position: relative; */

}

#navegacion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 !important;
  top: 0 !important;
  padding: 0 !important;
  left: 0 !important;
  z-index: 1;
  box-shadow: 0 0 2px #ccc;
}

.contacto {
  padding: 0 5rem 0 5rem;
  font-family: 'Aileron', sans-serif;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
}

select {
  letter-spacing: 2px;
  font-family: 'Aileron', sans-serif;

}

/*CALECITA*/
.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel {
  margin-top: 1rem;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 60vh;
  gap: 10px;
  overflow: hidden;
}

.carousel img {
  flex: 0 0 auto;
  height: auto;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1px !important;
  transition: transform 0.3s ease;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

#cercos,
#alambrados,
#piletas,
#portones {
  background-color: #122c12;
  color: #ccc;
}

#cercos h2,
#alambrados h2,
#piletas h2,
#portones h2 {
  color: #ccc;
}

.form {
  width: 25rem;

}

@media (max-width: 576px) {
  .titulo{
    font-family: 'Imprint Mt shadow', sans-serif;
  }
  
  .titulo,
  .subt {
    font-size: 1.35rem;
  }

  nav {
flex-direction: column;
}

  nav a {
    font-size: 0.8rem;
  }
  .hero{
margin-top: 34vw;
  }
  #pres{
    font-size: 0.9rem;
    padding: 0 0.5rem 0 0.5rem;
    font-weight: 300;
     }
  #inicio{
    padding: 0;
    margin: 1rem;
  }

}